<!-- ANCHOR JUMP TO LINKS SECTION  -->
<section class="anchor-container dark-module module" aria-labelledby="page-contents-heading">
    <nav class="anchor-nav module-inner">
      <div class="anchor-heading" aria-expanded="false">
        <h3 id="page-contents-heading" class="anchor-title">On this page</h3>
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
          <path d="M1.25 1.75L10 10.5L18.75 1.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <ul class="anchor-list">
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#have-you-suffered">Have you suffered an injury or accident at work?</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#safe-environment">A safe working environment</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#negligence">Negligence</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#when-to-claim">When to make a claim for a workplace accident</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#steps-after-injury">Steps to take if you suffer an injury at work</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#evidence-needed">The evidence you will need to make a claim</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#accident-types">What kinds of workplace accidents are eligible for compensation claims?</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#time-limit">Time limit for making an accident at work claim</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#claim-duration">How long does an accident at work claim take?</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#compensation-amount">What might your compensation amount be for a workplace accident?</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#employment-rights">Your employment rights following an accident at work</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#faq">Frequently asked questions</a>
        </li>
        <li>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <path
              d="M1.25 1.75L10 10.5L18.75 1.75"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <a class="anchor-link" href="#final-comp">Accident at work compensation</a>
        </li>
      </ul>
    </nav>
  </section>