<!-- FAQ section DARK MODULE -->

<section class="faq-wrapper dark-module module" id="faq">
    <div class="faq-wrapper-inner module-inner">
      <h2 id="faq">Frequently asked questions</h2>
      <div class="faq-item" data-index="1">
        <div class="faq-question" aria-expanded="false">
          <span class="question">Who pays the compensation?</span>
          <svg class="question-icon" xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
            <rect x="1.5" y="1" width="30" height="30" rx="15" stroke="white" stroke-width="2"></rect>
            <path
              d="M16 20C15.8445 20 15.6988 19.9747 15.5628 19.9243C15.4268 19.8738 15.3004 19.7871 15.1839 19.6641L9.82063 14.0458C9.60688 13.8219 9.5 13.5369 9.5 13.1908C9.5 12.8448 9.60688 12.5598 9.82063 12.3359C10.0344 12.112 10.3064 12 10.6368 12C10.9671 12 11.2392 12.112 11.4529 12.3359L16 17.0992L20.5471 12.3359C20.7608 12.112 21.0329 12 21.3632 12C21.6936 12 21.9656 12.112 22.1794 12.3359C22.3931 12.5598 22.5 12.8448 22.5 13.1908C22.5 13.5369 22.3931 13.8219 22.1794 14.0458L16.8161 19.6641C16.6996 19.7862 16.5732 19.873 16.4372 19.9243C16.3012 19.9756 16.1555 20.0008 16 20Z"
              fill="white"
            ></path>
          </svg>
        </div>
        <div
          class="faq-answer"
          style="height: 0; overflow: hidden; transition: height 0.3s ease, opacity 0.3s ease, margin 0.3s ease; opacity: 0"
        >
          <p>
            <span style="font-weight: 400"
              >Employers are required by law to have employer’s liability insurance, which is used to pay out compensation claims.
              &nbsp;</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >We always aim to negotiate a higher level of compensation than the initial offer the insurance company gives, and if
              necessary, we will apply to secure
              <a href="https://www.injurylawyers4u.co.uk/insights/accident-injuries/what-is-an-interim-payment/"
                >interim payments</a
              >
              for financial relief throughout the process. This way, you aren’t compelled to accept a lower compensation offer than
              you deserve, especially when lost income is a concern.&nbsp;</span
            >
          </p>
        </div>
      </div>
      <div class="faq-item" data-index="2">
        <div class="faq-question" aria-expanded="false">
          <span class="question">What is employer’s liability insurance?</span>
          <svg class="question-icon" xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
            <rect x="1.5" y="1" width="30" height="30" rx="15" stroke="white" stroke-width="2"></rect>
            <path
              d="M16 20C15.8445 20 15.6988 19.9747 15.5628 19.9243C15.4268 19.8738 15.3004 19.7871 15.1839 19.6641L9.82063 14.0458C9.60688 13.8219 9.5 13.5369 9.5 13.1908C9.5 12.8448 9.60688 12.5598 9.82063 12.3359C10.0344 12.112 10.3064 12 10.6368 12C10.9671 12 11.2392 12.112 11.4529 12.3359L16 17.0992L20.5471 12.3359C20.7608 12.112 21.0329 12 21.3632 12C21.6936 12 21.9656 12.112 22.1794 12.3359C22.3931 12.5598 22.5 12.8448 22.5 13.1908C22.5 13.5369 22.3931 13.8219 22.1794 14.0458L16.8161 19.6641C16.6996 19.7862 16.5732 19.873 16.4372 19.9243C16.3012 19.9756 16.1555 20.0008 16 20Z"
              fill="white"
            ></path>
          </svg>
        </div>
        <div
          class="faq-answer"
          style="height: 0; overflow: hidden; transition: height 0.3s ease, opacity 0.3s ease, margin 0.3s ease; opacity: 0"
        >
          <p>
            <span style="font-weight: 400"
              >Employer’s liability insurance is a form of insurance that covers costs and legal fees if an employee makes a claim
              for personal injury or illness caused by the company or organisation’s negligence.&nbsp;</span
            >
          </p>
        </div>
      </div>
      <div class="faq-item" data-index="3">
        <div class="faq-question" aria-expanded="false">
          <span class="question">If I’m a self employed contractor, can I still make a claim for an accident at work?</span>
          <svg class="question-icon" xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
            <rect x="1.5" y="1" width="30" height="30" rx="15" stroke="white" stroke-width="2"></rect>
            <path
              d="M16 20C15.8445 20 15.6988 19.9747 15.5628 19.9243C15.4268 19.8738 15.3004 19.7871 15.1839 19.6641L9.82063 14.0458C9.60688 13.8219 9.5 13.5369 9.5 13.1908C9.5 12.8448 9.60688 12.5598 9.82063 12.3359C10.0344 12.112 10.3064 12 10.6368 12C10.9671 12 11.2392 12.112 11.4529 12.3359L16 17.0992L20.5471 12.3359C20.7608 12.112 21.0329 12 21.3632 12C21.6936 12 21.9656 12.112 22.1794 12.3359C22.3931 12.5598 22.5 12.8448 22.5 13.1908C22.5 13.5369 22.3931 13.8219 22.1794 14.0458L16.8161 19.6641C16.6996 19.7862 16.5732 19.873 16.4372 19.9243C16.3012 19.9756 16.1555 20.0008 16 20Z"
              fill="white"
            ></path>
          </svg>
        </div>
        <div
          class="faq-answer"
          style="height: 0; overflow: hidden; transition: height 0.3s ease, opacity 0.3s ease, margin 0.3s ease; opacity: 0"
        >
          <p>
            <span style="font-weight: 400"
              >Even as a self-employed contractor, you are protected under employment laws and entitled to make a claim against the
              company you’re contracted to work for if they’re at least partly responsible for the accident. Remember, regardless of
              the type of work environment, employer’s are responsible for ensuring the safety of everyone in the workplace.</span
            >
          </p>
        </div>
      </div>
      <div class="faq-item" data-index="4">
        <div class="faq-question" aria-expanded="false">
          <span class="question">When does the HSE investigate accidents or illnesses at work?</span>
          <svg class="question-icon" xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
            <rect x="1.5" y="1" width="30" height="30" rx="15" stroke="white" stroke-width="2"></rect>
            <path
              d="M16 20C15.8445 20 15.6988 19.9747 15.5628 19.9243C15.4268 19.8738 15.3004 19.7871 15.1839 19.6641L9.82063 14.0458C9.60688 13.8219 9.5 13.5369 9.5 13.1908C9.5 12.8448 9.60688 12.5598 9.82063 12.3359C10.0344 12.112 10.3064 12 10.6368 12C10.9671 12 11.2392 12.112 11.4529 12.3359L16 17.0992L20.5471 12.3359C20.7608 12.112 21.0329 12 21.3632 12C21.6936 12 21.9656 12.112 22.1794 12.3359C22.3931 12.5598 22.5 12.8448 22.5 13.1908C22.5 13.5369 22.3931 13.8219 22.1794 14.0458L16.8161 19.6641C16.6996 19.7862 16.5732 19.873 16.4372 19.9243C16.3012 19.9756 16.1555 20.0008 16 20Z"
              fill="white"
            ></path>
          </svg>
        </div>
        <div
          class="faq-answer"
          style="height: 0; overflow: hidden; transition: height 0.3s ease, opacity 0.3s ease, margin 0.3s ease; opacity: 0"
        >
          <p>
            <span style="font-weight: 400"
              >The Health and Safety Executive may conduct an independent investigation into workplace incidents under certain
              conditions. Legally, all workplace injuries and illnesses have to be reported to the HSE, and failure to do so can
              lead to hefty fines for employers.&nbsp;</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >The HSE generally focuses on serious cases, such as deaths, major injuries like multiple fractures or amputations,
              head injuries, or severe occupational diseases. If you know that the Health and Safety Executive are investigating
              your place of work, you can still begin a claim for accident at work compensation before their investigation is
              completed.&nbsp;</span
            >
          </p>
        </div>
      </div>
    </div>
  </section>
  