<section class="hero dark-bg">
  <div class="container hero__wrapper">
    <div class="hero__text">
      <h1 class="hero__heading">{{headline}}</h1>
      <p class="hero__subtext">{{subtext}}</p>

      <div class="hero__trust">
        <span>Excellent</span>
        <img src="/img/stars.svg" alt="5 star Trustpilot rating" />
        <img src="/img/trustpilot-logo.svg" alt="Trustpilot logo" />
      </div>

      <a href="#" class="btn hero__btn">{{cta}}</a>
    </div>
    <div class="hero__image">
      <img src="/img/woman-lion.png" alt="Strong female lawyer with lion" />
    </div>
  </div>

  <div class="hero__actions">
    <a href="tel:0800123456" class="btn btn-secondary">Call us</a>
    <a href="#chat" class="btn btn-purple">Live chat</a>
  </div>
</section>
