<!-- Testimonials wrap -->

<div class="testimonials testimonials-1 module dark-module">
    <div class="testimonial-wrap module-inner">
      <p class="testimonial-content">
        "It took less than ten minutes for Injury Lawyers 4u to call me from giving them my contact details on their website. They
        listened to what I said compassionately and professionally and were very helpful in passing me onto a decent firm of
        solicitors to continue my injury claim. A company that cares."
      </p>
      <p class="testimonial-name"><span>Brian Martin</span>, 03 October 2024</p>
    </div>
  </div>