<!-- TRUSTPILOT MODULE  -->

<section class="trustpilot-box module dark-module" id="trustpilot">
    <div class="container module-inner">
      <!-- TrustBox widget - Mini -->
    <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="4da4d5b500006400050f7b88" data-style-height="150px" data-style-width="100%" data-theme="dark" style="position: relative;"><iframe title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/53aa8807dec7e10d38f59f32/index.html?templateId=53aa8807dec7e10d38f59f32&amp;businessunitId=4da4d5b500006400050f7b88#locale=en-GB&amp;styleHeight=150px&amp;styleWidth=100%25&amp;theme=dark" style="position: relative; height: 150px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe></div>
        <!-- End TrustBox widget -->
        
        <div class="trustpilot-box-text-wrap">
            <h3>Rated 4.8/5 on TrustPilot</h3>
            <p>
            Injury Lawyers 4u is proud to be a name you can rely on. Our dedicated team of lawyers is committed to getting you the
            compensation you deserve.
            </p>
        </div>
    </div>
</section>